:root {
    --bg-color: #1a1a2e;
    --text-color: #ffffff;
    --search-bg: rgba(42, 42, 72, 0.8);
    --button-bg: #a728f5;
    --heart-bg: red;
}

/* Light Mode Variables */
.light-mode {
    --bg-color: #ffffff;
    --text-color: #1a1a2e;
    --search-bg: rgba(220, 220, 220, 0.8);
    --button-bg: #6a0dad;
    --heart-bg: darkred;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #a728f5;
}
::-webkit-scrollbar-thumb:hover {
    background: #a728f5;
}

html {

}
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}
body.hide-scroll {
    overflow: hidden;
}

/*///////////////////////////////////////////////////////////////////////////*/
.container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the container */
    width: 100vw;
    max-width: 100%;
    background: var(--search-bg);
    padding: 15px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    z-index: 9999;
}
.container-flex-1 {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Space between elements */
    box-sizing: border-box;
}
.movie-results {
    display: none;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    width: 100%;
    max-width: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    height: auto;
}
.movie-results.show {
    display: block;
}
.search-close {
    display: none;
    font-size: 50px;
    cursor: pointer;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: var(--button-bg);
    color: #fff;
    padding: 0 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
}
.search-close.show {
    display: block;
}



.container h1 {
    margin: 0;
    font-size: 30px;
    color: var(--button-bg);
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}


button {
    padding: 10px 15px;
    border: none;
    background: var(--button-bg);
    color: var(--text-color);
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background: #9224d6;
}






.search-container {
    display: flex;
    align-items: center;
    width: 700px;
    background: var(--search-bg);
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid var(--button-bg);
    z-index: 99999;
}

.search-container input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color);
    height: 25px;
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

#searchYear {
    max-width: 100px;
    /* border-radius: 50px 0 0 50px; */
    border-left: 1px solid var(--button-bg);
}

.search-container button {
    padding: 9px 15px;
    border: none;
    border-radius: 0;
    background: var(--button-bg);
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    height: 45px;
    /* border-radius: 0 25px 25px 0; */
    margin: 0px;
}

.search-container button:hover {
    background: #9224d6;
}

/*///////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////*/

.heart {
    position: relative;
}
.heart img {
    height: 40px;
}
.heart img:hover {
    transform: scale(1.1);
}
#favoriteCount {
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}
/*///////////////////////////////////////////////////////////////////////////*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust width */
    height: 50px; /* Adjust height */
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.toggle-btn img {
    width: 35px; /* Adjust icon size */
    height: 35px;
    transition: all 0.3s ease-in-out;
}

.toggle-btn.spin {
    animation: spin 0.5s ease-in-out;
}

.toggle-btn:hover {
    background: none;
}
/*///////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////////////////////*/
.movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--search-bg);
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    transition: 0.3s;
    backdrop-filter: blur(8px);
}
.movie:hover {
    transform: scale(1.02);
}
.movie img {
    width: 80px;
    height: auto;
    border-radius: 4px;
}
.movie h3 {
    flex: 1;
    margin-left: 10px;
    cursor: pointer;
}
.movie button {
    background: #ff0099;
}
.movie button:hover {
    background: #e6007e;
}
/*///////////////////////////////////////////////////////////////////////////*/



/* .movie-results {
    margin: 20px auto;
    background: var(--search-bg);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1000px;
    margin-top: 80px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-height: 500px;

    left: 50%;
    transform: translateX(-50%); 
    padding: 15px 20px;
    z-index: 999;
} */

.close {
    float: right;
    font-size: 35px;
    cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////////////*/

.hero {
    margin: 100px auto;
    text-align: center;
}

.hero h2 {
    margin-top: 120px;
    /* font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal; */
    font-size: 30px;
    
}


.lastest-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers movies */
    gap: 15px; /* Space between movies */
    max-width: 1400px;
    margin: auto;
}

.new-movie {
    position: relative;
    align-items: center;
    background: var(--search-bg);
    width: 215px; /* Adjust width */
    height: 400px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    transition: 0.3s;
    backdrop-filter: blur(8px);
    cursor: pointer;
}

.new-movie img {
    width: 100%;
    height: 280px;
    border-radius: 6px;
}

.new-movie h3 {
    font-size: 15px;
}

.new-movie button {
    position: absolute;
    background: #ff0099;
    bottom: 10px;
    left: 5%;
    width: 90%;
}

.new-movie button:hover {
    background: #e6007e;
}

/*///////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////*/

.favourite {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the container */
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: var(--search-bg);
    padding: 15px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 9999;
    display: none;
}
.favorite-movies {
    position: absolute;
    height: 80vh;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%); /* Center the container */
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.fav-close {
    position: absolute;
    font-size: 50px;
    top: 15px;
    right: 50px;
}
.favourite.show {
    display: block;
}
/*///////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    z-index: 99999;
}
.modal-content {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: left;
    color: var(--text-color);
    backdrop-filter: blur(8px);
}
.modal-content #moviePoster {
    max-height: 350px;
    width: auto;
}

/*///////////////////////////////////////////////////////////////////////////*/


















#authModal .modal-content {
    max-width: 300px;
    text-align: center;
}

#authModal input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#authModal button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: none;
    background: var(--button-bg);
    color: var(--text-color);
    cursor: pointer;
}

#authModal button:hover {
    background: #9224d6;
}

.footer-bottom {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 3;
}

.footer-bottom .jello {
    text-decoration: none;
    color: var(--button-bg);
}